
.btn {
    background-color: forestgreen;
    color: #fff;
    margin-left: 7px;
}

.tbtn {
    border: 1px solid forestgreen;
    background-color: transparent;
    color: #fff;
    margin-left: 7px;
}

.tbtn:focus {
    background-color: forestgreen;
    color: #fff;
}

.tbtn:hover {
    background-color: forestgreen;
    color: #fff;
}

.btn:focus {
    border: 1px solid forestgreen;
    background-color: transparent;
    color: #fff;
}

.btn:hover {
    border: 1px solid forestgreen;
    background-color: transparent;
    color: #fff;
}

.btn:active {
    border: 1px solid forestgreen;
    background-color: transparent;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .banner h1 {
        font-size: 2em !important;
    }
    .banner h2 {
        font-size: 1.5em !important;
    }
}
